@import "table-to-divs";

.rbdg-clickable-grid-header-cell {
  cursor: pointer;
}

.rbdg-select-header-cell {
  .rdbg-svg-icon {
    background-color: var(--bs-btn-bg)
  }
  .rdbg-svg-icon-foreground {
    color: var(--bs-btn-color)
  }

  &:hover {
    .rdbg-svg-icon {
      background-color: var(--bs-btn-hover-bg)
    }
    .rdbg-svg-icon-foreground {
      color: var(--bs-btn-hover-color)
    }
  }
}
