@use "sass:color";
@use "sass:math";

$rbdg-prefix: "rbdg-";

.rbdg-grid > div, .rbdg-grid > div > div, .rbdg-grid > div > div > div {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

// While these rules seem to work, the way that the three border modes, default; bordered; and borderless override each
// other is quite hard to understand.
// Consider refactoring so that each type mode, including default, has a separate class that contains rules for just
// that mode.
// The way that each border mode that interacts with dividers with quite complicated. Each combination should be tested
// separately.

.rbdg-grid {
  // In Bootstrap's _tables.scss file, there are variable declarations here to reset some variables to the initial
  // value to facilitate nesting of tables styled with Bootstrap's "table" CSS class. Unlike _tables.scss, there is no
  // reset in this file because the RBDG flex grid is not meant to be nested.

  --#{$rbdg-prefix}grid-color: #{$table-color};
  --#{$rbdg-prefix}grid-bg: #{$table-bg};
  --#{$rbdg-prefix}grid-border-color: #{$table-border-color};
  --#{$rbdg-prefix}grid-accent-bg: #{$table-accent-bg};
  --#{$rbdg-prefix}grid-striped-color: #{$table-striped-color};
  --#{$rbdg-prefix}grid-striped-bg: #{$table-striped-bg};
  --#{$rbdg-prefix}grid-active-color: #{$table-active-color};
  --#{$rbdg-prefix}grid-active-bg: #{$table-active-bg};
  --#{$rbdg-prefix}grid-hover-color: #{$table-hover-color};
  --#{$rbdg-prefix}grid-hover-bg: #{$table-hover-bg};

  border-color: var(--#{$rbdg-prefix}grid-border-color);

  > div {
    width: min-content;

    > div > div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: $table-cell-padding-y $table-cell-padding-x;
      color: var(--#{$rbdg-prefix}grid-color-state, var(--#{$rbdg-prefix}grid-color-type, var(--#{$rbdg-prefix}grid-color)));
      background-color: var(--#{$rbdg-prefix}grid-bg);
      border-bottom-width: $table-border-width;
      box-shadow: inset 0 0 0 9999px var(--#{$rbdg-prefix}grid-bg-state, var(--#{$rbdg-prefix}grid-bg-type, var(--#{$rbdg-prefix}grid-accent-bg)));
    }
  }

  // These properties are overridden by the "> div > div > div:not(:last-child)" properties when rbdg-grid-bordered is
  // applied.
  > div:first-child > div > div {
    border-bottom-width: var(--#{$rbdg-prefix}grid-divider-border-width, var(--#{$rbdg-prefix}grid-divider-borderless-width, $table-border-width));
    border-bottom-style: var(--#{$rbdg-prefix}grid-divider-border-style, inherit);
    border-bottom-color: var(--#{$rbdg-prefix}grid-divider-border-color, inherit);
  }
}

.rbdg-grid-group-divider {
  --#{$rbdg-prefix}grid-divider-border-width: calc(#{$table-border-width} * 2);
  --#{$rbdg-prefix}grid-divider-border-style: solid;
  --#{$rbdg-prefix}grid-divider-border-color: #{$table-group-separator-color};
}

.rbdg-grid-sm {
  > div > div > div {
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
  }
}

.rbdg-grid-bordered {
  > div > div {
    > div:not(:last-child) {
      border-width: 0 $table-border-width 0 0;
    }

    > div:last-child {
      border-width: 0;
    }
  }

  > div:first-child > div {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: var(--#{$rbdg-prefix}grid-divider-border-width, var(--#{$rbdg-prefix}grid-divider-borderless-width, $table-border-width));
    border-bottom-style: var(--#{$rbdg-prefix}grid-divider-border-style, inherit);
    border-bottom-color: var(--#{$rbdg-prefix}grid-divider-border-color, inherit);
  }

  > div:last-child {
    > div:not(:last-child) {
      border-width: 0 0 $table-border-width 0;
    }
  }
}

.rbdg-grid-borderless {
  --#{$rbdg-prefix}grid-divider-borderless-width: 0;

  > div > div > div {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

.rbdg-grid-striped {
  > div:nth-of-type(2) > div:nth-of-type(#{$table-striped-order}) > div {
    --#{$rbdg-prefix}grid-color-type: var(--#{$rbdg-prefix}grid-striped-color);
    --#{$rbdg-prefix}grid-bg-type: var(--#{$rbdg-prefix}grid-striped-bg);
  }
}

.rbdg-grid-striped-columns {
  > div > div > :nth-child(#{$table-striped-columns-order}) {
    --#{$rbdg-prefix}grid-color-type: var(--#{$rbdg-prefix}grid-striped-color);
    --#{$rbdg-prefix}grid-bg-type: var(--#{$rbdg-prefix}grid-striped-bg);
  }
}

.rbdg-grid-active {
  --#{$rbdg-prefix}grid-color-state: var(--#{$prefix}grid-active-color);
  --#{$rbdg-prefix}grid-bg-state: var(--#{$rbdg-prefix}grid-active-bg);
}

.rbdg-grid-hover {
  > div:nth-of-type(2) > div:hover > div {
    --#{$rbdg-prefix}grid-color-state: var(--#{$rbdg-prefix}grid-hover-color);
    --#{$rbdg-prefix}grid-bg-state: var(--#{$rbdg-prefix}grid-hover-bg);
  }
}

@mixin rbdg-grid-variant($state, $background) {
  .rbdg-grid-#{$state} {
    $color: color-contrast(opaque($body-bg, $background));
    $hover-bg: color.mix($color, $background, math.percentage($table-hover-bg-factor));
    $striped-bg: color.mix($color, $background, math.percentage($table-striped-bg-factor));
    $active-bg: color.mix($color, $background, math.percentage($table-active-bg-factor));
    $table-border-color: color.mix($color, $background, math.percentage($table-border-factor));

    --#{$rbdg-prefix}grid-color: #{$color};
    --#{$rbdg-prefix}grid-bg: #{$background};
    --#{$rbdg-prefix}grid-border-color: #{$table-border-color};
    --#{$rbdg-prefix}grid-striped-bg: #{$striped-bg};
    --#{$rbdg-prefix}grid-striped-color: #{color-contrast($striped-bg)};
    --#{$rbdg-prefix}grid-active-bg: #{$active-bg};
    --#{$rbdg-prefix}grid-active-color: #{color-contrast($active-bg)};
    --#{$rbdg-prefix}grid-hover-bg: #{$hover-bg};
    --#{$rbdg-prefix}grid-hover-color: #{color-contrast($hover-bg)};

    color: var(--#{$rbdg-prefix}grid-color);
    border-color: var(--#{$rbdg-prefix}grid-border-color);
  }
}

@each $color, $value in $table-variants {
  @include rbdg-grid-variant($color, $value);
}

// Note about Responsive Tables
//
// The Bootstrap _tables.scss file contains a series of classes to apply responsive tables at various breakpoints.
// There is no such equivalent for RBDG flex grid for the following reason.
//
// The RBDG flex grid is a div of type "block," so the concept of "responsive" scrollable breakpoints doesn't apply.
// It appears that for a table, even if the width is to 100%, the browser sometimes disobeys this setting causing
// the width to be more than the parent, hence the need for responsive tables. Divs do not appear to have this problem.
//
// The RBDG flex grid provides other options to achieving a horizontally scrollable grid. They are as follows.
//
// When using the default or "auto" setting for the RBDG grid's "width," the intrinsic width of the grid columns is
// used. In such circumstances, if one wants to make the grid scrollable horizontally, they can enclose the grid in a
// horizontally-scrollable div.
//
// When the grid's width is to set to "parent", the grid takes on the width of the parent (width 100% CSS value) just
// like the Bootstrap table does. In this case, the grid div itself is horizontally scrollable. In contrast, for
// responsive Bootstrap tables, it is a div that encloses the table element that is scrollable.
